@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Saira+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}


body{
    font-size: 100%;
    background: black;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'The Nautigal', cursive;
    color:white;
    font-weight: 400;
    font-size: 30px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid white;
    padding-top: 48px;
    font-family: 'The Nautigal', cursive;
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.conteudo-secundario-paragrafo{
    
    font-weight: 300px;
    font-size: 18px;
    color: white;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid black;   
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}